header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

header.masthead {
    position: relative;
    background: #343a40 url(../img/bg-masthead.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3
}

header.masthead h1 {
    font-size: 2rem
}

@media (min-width: 768px) {
    header.masthead {
        padding-top:12rem;
        padding-bottom: 12rem
    }

    header.masthead h1 {
        font-size: 3rem
    }
}
