@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" />

<p>Click here to go to the <a asp-controller="Home" asp-action="Index">home page</a></p>
<p>Click here to <a asp-controller="Account" asp-action="Login">login</a></p>