@{
    ViewData["Title"] = "Register confirmation";
}
@{
    var title = ViewData["Title"];
    var displayConfirmAccountLink = (bool) ViewData["DisplayConfirmAccountLink"];
    var emailConfirmationUrl = (string) ViewData["EmailConfirmationUrl"];
}
<div class="container main-container">
    <partial name="_StatusMessage" />
    <h1>@title</h1>
    @{
        if (@displayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@emailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
